body{
  background: #daecec;
}
h1 {
font-family: 'Pacifico', cursive;
font-size: 6rem;
padding: 3%;
color: #395144;

}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 3rem;
  color: #4E6C50;
  line-height: 0.5;
}

h3 {
  font-family: 'Pacifico', cursive;
  font-size: 6rem;
  color: #395144
}

h4 {
  font-family: 'Pacifico', cursive;
  font-size: 3rem;
  color: #68947c;
  line-height: 1.5;
}

h5 {
  font-family: 'Pacifico', cursive;
  font-size: 4rem;
  padding: 3%;
  color: #395144;
}

h6 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: #68947c;
  line-height: 1.5;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.1rem;
    color: #395144;
}

nav {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 40px;
  background-color: #daecec;
}

.btnAttendance {
  font-size: 1.4rem;
}

.nav-link {
  color: #4E6C50;
  margin: 0 3% 0;
}


.copy {
  background: #F0EBCE;
}

.border {
  border: 5px;
}

.semkinchevi {
  color: #68947c;
}


.razdel {
   margin: 10rem 2rem;
}

.tuklink {
  font-size: 1.8rem;
  color: #4E6C50;
}

.card {
  background: none;
}

.card-text {
  font-weight: bold;
}
